/* src/pages/LandingPage/LandingPage.css */

/* Hero Section */
.hero-section {
    text-align: center;
    padding: var(--spacing-lg) 0;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: var(--spacing-md);
    letter-spacing: 0.5px;
}

.input-group {
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-md);
}

.dark-input {
    background-color: var(--color-slate-grey);
    border: 1px solid var(--color-slate-grey);
    color: white;
    padding: 1rem 1.5rem;
    width: 450px;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Inner shadow for depth */
}

/* Trending Rooms */
.trending-rooms {
    padding: var(--spacing-md) var(--spacing-lg);
}

.trending-rooms h2 {
    margin-bottom: var(--spacing-sm);
    font-size: 1.8rem;
}

.carousel-container {
    display: flex;
    gap: var(--spacing-sm);
    overflow-x: auto; /* Enable scrolling for carousel effect */
    padding-bottom: var(--spacing-sm);
}

.poster-card {
    min-width: 250px;
    height: 350px;
    background-color: var(--color-slate-grey);
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.poster-card .hover-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.poster-card:hover .hover-info {
    opacity: 1;
}

/* Features Strip */
.features-strip {
    display: flex;
    justify-content: space-around;
    padding: var(--spacing-lg) 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    margin-top: var(--spacing-lg);
}

.feature-item {
    font-family: var(--font-light);
    font-size: 1.1rem;
    color: var(--color-ash-silver);
    /* Giving the icon emoji a gold flash */
    text-shadow: 0 0 5px rgba(230, 177, 14, 0.1); 
}

/* Footer */
.footer {
    text-align: center;
    padding: var(--spacing-sm);
    font-family: var(--font-light);
    font-size: 0.8rem;
    color: rgba(196, 196, 196, 0.6);
}